:root {

    
    --default-font: "PT Sans", Arial, sans-serif;
    --default-size: 1.25em;
    --default-radius: 1em;
    --default-color: rgba(17, 27, 31, 1);
    --default-bg-color: rgba(255, 255, 255, 0.85);
    --default-border: 3px dotted rgba(203, 203, 203, 1);
    --default-transition: 300ms;
    --default-button-padding: 0.5em 3em;
    --default-fade-in: fadeIn 0.75s;

    --accent-font: "PT Sans Narrow", "Arial Narrow", sans-serif;
    --accent-color-1: rgba(67, 104, 124, 1);
    --accent-color-2: rgba(179, 218, 241, 1);
    --accent-color-3: rgba(255, 255, 255, 1);
    --accent-color-4: rgba(203, 203, 203, 1);
    --accent-weight: 600;

    --problem-color: rgba(153, 0, 0, 1);

    --header-size: 1.75em;

    --button-size: 0.9em;
    --button-scale: scale(1.1);

    --huge-space: 8em;
    --large-space: 5em;
    --medium-space: 3em;
    --small-space: 1em;
    --tiny-space: 0.25em;
}

body {
    font-family: var(--default-font);
    color: var(--default-color);
    font-size: var(--default-size);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('bg-img.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

header {
    background-color: var(--default-color);
    color: var(--accent-color-2);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

#header-left {
    padding-left: var(--small-space);
    display: flex;
    align-items: center;
}

#header-right {
    padding-right: var(--small-space);
    display: flex;
    align-items: center;
    
}

#container {
    padding: var(--small-space) var(--large-space);
    background-color: var(--default-bg-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    margin: 0% 15%;
    text-align: center;
}

#prompt {
    margin: 0px var(--small-space) var(--small-space) var(--small-space);
    padding-bottom: var(--small-space);
    border-bottom: var(--default-border);
}

footer {
    margin: var(--small-space);
    padding: var(--small-space) var(--medium-space);
    border-top: var(--default-border);
}

form {
    margin: var(--medium-space) var(--large-space);
    padding: var(--medium-space) var(--huge-space);
    background-color: var(--default-bg-color);
    border-radius: var(--default-radius);
}

h1 {
    font-family: var(--accent-font);
    color: var(--accent-color-2);
    margin: var(--tiny-space);
    font-size: var(--header-size);
    text-transform: uppercase;
}

a {
    color: var(--accent-color-1);
    transition: var(--default-transition);
    font-weight: var(--accent-weight);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color-4);
}

select {
    margin: var(--small-space) 0;
    font-family: var(--accent-font);
    font-size: var(--default-size);
    color: var(--accent-color-1);
    transition: var(--default-transition);
    text-transform: uppercase;
    background: transparent;
    border: 0;
}

select:hover {
    background-color: var(--accent-color-4);
}

.action-button {
    margin-top: var(--small-space);
    padding: var(--default-button-padding);
    border-radius: var(--default-radius);
    background-color: var(--default-color);
    font-family: var(--accent-font);
    font-size: var(--default-size);
    color: var(--accent-color-4);
    transition: var(--default-transition);
    text-transform: uppercase;
    border: 0;
}

.action-button:hover {
    background-color: var(--accent-color-1);
    color: var(--accent-color-3);
    transform: var(--button-scale);
}

.file-upload-button {
    font-size: var(--header-size);
    padding: var(--tiny-space);
    transition: var(--default-transition);
    cursor: pointer;
}

.file-upload-button:hover {
    background-color: var(--accent-color-4);
}

input[type="file"] {
    display: none;
}

.regular-button {
    border-radius: var(--default-radius);
    background-color: var(--accent-color-1);
    font-family: var(--accent-font);
    font-size: var(--button-size);
    color: var(--accent-color-3);
    transition: var(--default-transition);
    padding: var(--default-button-padding);
    border: 0;
    text-transform: uppercase;
}

.regular-button:hover {
    background-color: var(--default-color);
    color: var(--accent-color-4);
}

.big-icon {
    font-size: var(--header-size);
    color: var(--accent-color-3);
}

.highlight {
    font-weight: var(--accent-weight);
    color: var(--default-color);
}

.hint {
    color: var(--accent-color-1);
}

.solution {
    margin-top: var(--medium-space);
    color: var(--accent-color-1);
    animation: var(--default-fade-in);
    -webkit-animation: var(--default-fade-in);
    -moz-animation: var(--default-fade-in);
    -o-animation: var(--default-fade-in);
    -ms-animation: var(--default-fade-in);
}

.problem {
    margin-top: var(--medium-space);
    color: var(--problem-color);
    font-style: italic;
    animation: var(--default-fade-in);
    -webkit-animation: var(--default-fade-in);
    -moz-animation: var(--default-fade-in);
    -o-animation: var(--default-fade-in);
    -ms-animation: var(--default-fade-in);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
  
@-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}